@media screen and (max-width:768px){ 
    .pag1{
        background-image: url(../IMGS/foto\ escura.png);
        background-size: cover;
        width:100vw;
       height: 100vh;
    }

    .img{
        display: none;
    }

    .msg_hello { 
        margin-bottom: 3%;
        padding-top: 30vh;
        padding-left: 10%;
    }

    .hi {
        color: #fff;
        font-size: 6vw;
        font-family: 'Montserrat';
        font-weight: 900;
    }

    .hii {
        color: #fff;
        font-size: 8vw;
        font-family: 'Montserrat';
        font-weight: 100; 
    }

    .apre {
        color: #fff;
        font-size: 3vw;
        font-weight: bolder;
        text-align: justify;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 5%;
        padding-left: 10%;
        margin-right: 15%;
    }

    .Prof {
        color: #010037;
        background-color: #FFB800;
        font-size: 4vw;
        font-family: 'Montserrat', sans-serif;
        padding: 1%;
        margin-left: 10%;
    }

    .nav_bar_lateral{
        display: none;
    }

    h1 {
        font-size: 10vw;
        margin: 0;
        margin-top: 10vh;
        align-self: center;
    }

    .conteudo{ 
        display: flex;
        margin-left:0;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }

    .conteudo2 {
        display: flex;
        flex-direction: column;
        width: 75vw;
        margin-left: 0;
    }

    .imgs{
        width: 70vw;
        height: auto;
        margin: auto;
        background-color: #fff;

    }
    p{
        font-size: 4vw;
    }

    .imgs_project{
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
        width: 75%;
        border: #fff;
        display: flex;
        flex-direction: column;
    }

    .btn_project{ 
        margin-left: 0;
    }


    ul{
        margin-left:-10vw;
    }

}